.top{
  text-align: center;
}


.pics{
  height:300px;
  width:90%;
  border: 1px solid blue;
  margin:auto;
  margin-top: 4%;
  margin-bottom: 4%;

}

.left{
  border: 2px solid black;
  height:100%;
  width:33%;
  float:left;
}
.left img{
  height:100%;
  width:100%;

}


.middle{
  border: 5px solid teal;
  height:98%;
  width:31%;
  text-align: center;
  background-color: beige;
  float:left;
  overflow: auto;
  margin-left: .4%;
  margin-right:.4%;
}
.middle p{
  padding-top:4%;
  padding: 12%;
}

.right{
  border: 2px solid black;
  height:100%;
  width:33%;
  float:left;
  display:inline;




}
.right img{
  height:100%;
  width:100%;

}

.links{
 height:21%;
 text-align: center;
 font-size: 20px;

}
.links a{
  padding-right:3%;
  padding-left:3%;
}

.Home
{ border-right: 2px solid grey;}
.TheNorthernLights
{ border-right: 2px solid grey;}
.HikingOnGlaciers
{ border-right: 2px solid grey;}
